$body-bg: #141414;
$txt-white-color: #e5e5e5;
$text-color-hover: #fff;
$text-gray-color: gray;

$header-height: 7rem;
$header-shrink-height: 5rem;
$border-radius: 1rem;

$tablet-width: 991px;
$mobile-width: 576px;
