$body-bg: #141414;
$txt-white-color: #e5e5e5;
$text-color-hover: #b3b3b3;
$text-gray-color: gray;

$header-height: 7rem;
$header-shrink-height: 5rem;
$border-radius: 1rem;

$large-width: 991px;
$medium-width: 768px;
$small-width: 576px;
